<h2>What to do this weekend...</h2>

<div>
	<a href="https://foursquare.com/oauth2/authenticate?client_id=ESHSNEX3FLAX0EC0U3FJGNNHFAAGK0IEE1CJEIWMIQGRP25N&response_type=code&redirect_uri=http://localhost:3000/foursquare/feed">
		<img src="/images/foursquare_connect.png" />
	</a>
</div>
